
<div class="content">

</div>
<div class='header' fxLayout="row">
  <div fxFlex="90%">
    GROCERY STORE
  </div>
  <div fxFlex="10%">
    <img height="36px" src="assets/linkdin.png">
  </div>
</div>
<div class="container" fxLayout="row">
  <div fxFlex="20%" class="bg-section item left-side">
    <success-stories></success-stories>
  </div>
  <div fxFlex="60%" class="bg-section item center-content">
    <app-grocery-list></app-grocery-list>
  </div>
  <div fxFlex class="bg-section item right-side">
    <div class="widget-1">
      <div class="header-widget">
          ADVERTISEMENTS
      </div>
      <div>
        <ng-template appAdHost></ng-template>
      </div>
    </div>
    
  </div>
</div>
<div class="footer" fxLayout = "row">
 
</div>
