.widget-title{
    padding: 10px;
    background-color: darkblue;
    color: white;
    font-size: 17px;
    /* border: 1px solid black; */
    margin-bottom: 33px;
  }
  .font_style_name{
    font-size: 11px;
    padding:10px;
    font-style: italic;
  }
  .center{
    text-align:center;
  }
  .content{
    padding: 10px;
  }